*.pyc
*~
/.vscode
__pycache__
myvenv
db.sqlite3
/static
.DS_Store

*.*~
*~
*.pyc
#*#
/db.sqlite3
sqlite.db
/manage.py
/mysite*
/plan.txt
/dist*
*.egg-info*
build*
/.coverage
/.coveragerc
/coverage_html_report/
/htmlcov/
/uploads/
.tox
*.egg
